
body {
  font-family: 'Lato', 'Raleway';
}

img { /* これをつけなければ画像の妙の隙間は消えない */
  vertical-align: bottom;
}

.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
  background: #fff;
  border: 0;
  appearance: none;
}

.inner {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* Fixed Top Bar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  box-sizing: border-box;
  z-index: 9999;
  text-align: center;
  padding: 15px 0;
}

.top-bar__fontawesome {
  float: left;
  margin: 0 15px;
}

.top-bar__fontawesome > i {
  color: #4e4e4e;
}

.top-bar__contact-btn-box {
  display: inline-block;
  float: right;
}

.contact-btn-box__contact-btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background: #74cfae;
}

.contact-btn-box__contact-btn:hover {
  color: #000;
}

/* Main Part */
.main-box {
  width: 100%;
  margin-top: 73px;
  font-family: 'Lato', 'Raleway';
}

.main-box__iphone-box {
  background: #74cfae;
}

.main-box__latest-work {
  background: #f2f2f2;
  padding-bottom: 70px;
}

.latest-work__picture-title {
  padding-top: 60px;
  text-align: center;
  font-size: 24px;
}

.latest-work__picture-list {
  text-align: center;
}

.picture-list__list > li:hover {
  opacity: 1;
}

.main-box__skill-box {
  padding: 70px 0 100px;
  background: #4e4e4e;
  text-align: center;
}

.skill-box__skill-title {
  color: #fff;
  font-size: 24px;
}

.skill-description__list {
  margin-top: 40px;
}

.skill-description__list > li:first-child {
  margin-left: 0;
}

.skill-description__list > li {
  color: #fff;
}

.skill-description__list__text {
  font-size: 16px;
  margin-top: 10px;
}

.main-box__sns-box {
  text-align: center;
  background: #f2f2f2;
}

.sns-box__list > li {
  padding: 10px;
  width: 185px;
  color: #74cfae;
  box-sizing: border-box;
}

.sns-box__list > li:hover {
  background: #fff;
}

footer {
  color: #fff;
  text-align: right;
  background: #74cfae;
  padding: 20px 10px 25px;
}

/* PC: 1200 ~ */

.menu {
  display: none;
  cursor: pointer;
}

.top-bar__contact-btn-box {
  display: inline-block;
}

.main-box__theme-box {
  padding: 250px 0;
  background: #f2f2f2;
}

.theme-box__theme {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  color: #74cfae;
}

.theme-box__sub-theme {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #c0c0c0;
}

.main-box__iphone-box {
  background: #74cfae;
  font-size: 0;
  padding: 50px 50px 0;
}

.grid {
    max-width: 1200px;
    font-size: 0;
}

.iphone-box__iphone-img-box {
  width: 40%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.iphone-box__iphone-description-box {
  width: 60%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.iphone-description-box__title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: 'Raleway', 'Lato';
}

.iphone-description-box__description {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  text-align: center;
  word-break: break-all;
  font-family: 'Raleway', 'Lato';
  line-height: 40px;
}

.picture-list__list {
  max-width: 1100px;
  margin: 40px auto 90px;
}

.picture-list__list > li {
  float: left;
  margin-left: 100px;
  opacity: 0.7;
}

.picture-list__list > li:nth-child(3n+1) {
  margin-left: 0;
}

.picture-list__list > li:nth-child(n+4) {
  margin-top: 80px;
}

.latest-work__picture-email {
  display: table;
  max-width: 650px;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.picture-email__email-description {
  display: table-cell;
  text-align: center;
}

.picture-email__email-btn-box {
  display: table-cell;
  text-align: left;
  padding-left: 90px;
}

.email-btn-box__btn {
  width: 100px;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background: #74cfae;
}

.email-btn-box__btn:hover {
  color: #000;
}

.skill-description__list > li {
  display: inline-block;
  margin-left: 180px;
}

.main-box__sns-box {
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-box__list > li {
  display: inline-block;
  width: 185px;
}

/* TAB: 767 ~ 1199 */
@media screen and (min-width: 767px) and (max-width: 1199px) {

  .menu {
    display: none;
  }

  .top-bar__contact-btn-box {
    display: inline-block;
  }

  .main-box__theme-box {
    padding: 250px 0;
    background: #f2f2f2;
  }

  .theme-box__theme {
    font-size: 90px;
    font-weight: 700px;
    text-align: center;
    color: #74cfae;
  }

  .theme-box__sub-theme {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #c0c0c0;
  }

  .skill-description__list > li {
    display: block;
    margin-top: 88px;
  }

  .skill-description__list > li:first-child {
    margin-top: 0;
  }

  .main-box__sns-box {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .sns-box__list > li {
    display: inline-block;
    width: 185px;
  }

  .main-box__iphone-box {
    padding: 50px 50px 25px;
  }

  .iphone-box__iphone-img-box {
    display: block;
    margin: 0 auto;
  }

  .iphone-box__iphone-description-box {
    display: block;
    margin: 0 auto;
  }

  .iphone-description-box__title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }

  .iphone-description-box__description {
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    text-align: center;
  }

  .picture-list__list > li {
    opacity: 0.7;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .picture-list__list {
    margin: 40px auto 80px;
  }

  .picture-list__list > li:nth-child(3) {
    margin-bottom: 80px;
  }

  .picture-list__list > li:nth-child(n+4) {
    margin-top: 0;
  }

  .latest-work__picture-email {
    display: block;
    max-width: 650px;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
  }

  .picture-email__email-description {
    display: block;
    text-align: center;
  }

  .picture-email__email-btn-box {
    display: block;
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
  }

  .email-btn-box__btn {
    width: 100px;
    font-size: 12px;
    padding: 14px 20px;
    color: #fff;
  }

  .email-btn-box__btn:hover {
    background: #74cfae;
    color: #000;
  }

  .skill-description__list > li {
    display: block;
    margin-left: 0;
  }
}

/* SP: ~ 766 */
@media screen and (max-width: 766px) {

  .menu {
    display: inline-block;
    float: right;
    position: relative;
    width: 60px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 0 15px;
    cursor: pointer;
  }

  .menu::before {
    position: absolute;
    content: "≡";
    font-size: 50px;
    top: -6px;
    right: 16px;
    color: #777;
  }

  /* Before Click */
  .top-bar__contact-btn-box {
    width: 100%;
    display: none;
    transition: all 3s;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
  }

  /* こうすると優先度が高くなる　（とても便利） */
  .top-bar__contact-btn-box.isBlock {
    display: block;
  }

  .contact-btn-box__contact-btn {
    width: 100%;
    font-size: 12px;
    padding: 14px 12px;
    color: #fff;
    text-align: left;
  }

  .main-box__theme-box {
    padding: 160px 10px 130px;
    background: #f2f2f2;
    text-align: center;
  }

  .theme-box__theme {
    font-size: 80px;
    text-align: center;
    color: #74cfae;
  }

  .theme-box__sub-theme {
    font-size: 30px;
    text-align: center;
    color: #c0c0c0;
    padding-top: 20px;
  }

  .main-box__iphone-box {
    padding: 50px 25px 25px;
  }

  .iphone-box__iphone-img-box {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .iphone-box__iphone-description-box {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .iphone-description-box__title {
    display: block;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }

  .iphone-description-box__description {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    text-align: center;
  }

  .picture-list__list {
    margin: 40px auto 80px;
  }

  .latest-work__picture-email {
    display: block;
    max-width: 650px;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
  }

  .picture-email__email-description {
    display: block;
    text-align: center;
  }

  .picture-email__email-btn-box {
    display: block;
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
  }

  .email-btn-box__btn {
    width: 100px;
    font-size: 12px;
    padding: 14px 20px;
    color: #fff;
    background: #74cfae;
  }

  .email-btn-box__btn:hover {
    background: #74cfae;
    color: #000;
  }

  .skill-description__list > li {
    display: block;
    margin-top: 88px;
  }
  .skill-description__list > li:first-child {
    margin-top: 0;
  }

  .picture-list__list > li {
    opacity: 0.7;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .picture-list__list {
    margin: 40px auto 80px;
  }

  .picture-list__list > li:nth-child(n+4) {
    margin-top: 0;
  }

  .skill-description__list > li {
      display: block;
      margin: 80px auto 0;
  }

  .main-box__sns-box {
    padding: 50px 15px;
  }

  .sns-box__list > li {
    display: block;
    width: 100%;
  }
}
